

.bookings-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }